.header{
    height: 360px;
}

.homeBandeauVideoContainer{
    height: 360px;
    border: 4px solid red;
}

.homeBandeauVideo{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home a {
    color: inherit;
    text-decoration: none;
  }
  
.home h2 {
    font-family: "Alegreya", Verdana, Geneva, Tahoma, sans-serif;
    font-weight:700;
    @apply text-2xl;
    @apply sm:text-3xl;
    padding-bottom: 9px;
    
  }
  
.home h3 {
    font-family: "Alegreya", Verdana, Geneva, Tahoma, sans-serif;
    font-weight:700;
    @apply text-xl;
    @apply sm:text-2xl;
    padding-top: 6px;
    padding-bottom: 9px;
  }
  
.home ul {
    font-size: 1.125rem;  
    list-style: disc;
    padding-bottom: 6px;
  }
  
.home ol {
    font-size: 1.125rem;
    list-style: decimal;
    padding-bottom: 6px;
    padding-left: 18px;
  }
  
.home li {
    line-height: 1.75rem;
    padding-bottom: 6px;
    padding-left: 18px;
  }
  
.home ol li {
    @apply text-justify;
  }
  
  
.home p {
    font-size: 1.125rem;
    line-height: 1.75rem;
    padding-bottom: 6px;
    @apply text-justify;
  }