.topBar{
    height: 65px
}

.multilang{
    position: relative;
}

.multilangList{
    top: 35px;
}

.multilangList a{
    display: block;
}

.logo{
    width: 200px;

}

.headerNavLink button, .headerNavLink a{
    text-align: left;
}

.headerNavLink a:hover{
    text-decoration: underline;
}


.headerNav{
    position: absolute;
    top: 40px;
    left: -1.25rem;
    width: 100vw;
    transition: ease-out .3s;
    transition-property: transform;
}

.headerNav.is-active{
    transform: translate(0, 0);

}
/** From md **/
@media (min-width: 767px) { 

    .headerNav{

        width: 45vw

    }
}

.headerSubNav{
    display: none;
}
