@tailwind base;
@tailwind components;
@tailwind utilities;

/** Fonts **/

/* jost-regular */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Jost/Jost-Regular.ttf');
}

/* jost-medium */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/Jost/Jost-Medium.ttf');
}

/* jost-bold */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Jost/Jost-Bold.ttf');
}

/* Alegreya-regular */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Alegreya/Alegreya-Regular.ttf');
}

/* Alegreya-medium */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/Alegreya/Alegreya-Medium.ttf');
}

/* Alegreya-bold */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Alegreya/Alegreya-Bold.ttf');
}


html,
body {
  padding: 0;
  margin: 0;
}

body{
  font-family:'Jost', "Impact";
  font-weight:400;
}

a {
  color: inherit;
  text-decoration: none;
}

h2 {
  font-family: 'Alegreya';
  font-weight:700;
  font-size: 1.5rem;
  padding-bottom: 9px;
}

p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

* {
  box-sizing: border-box;
}

.bio-block h2 {
    @apply text-4xl;
}
.bio-block h3 {
    @apply py-4 text-2xl;
}
.bio-block p {
    @apply pb-2;
}