@tailwind base;
@tailwind components;
@tailwind utilities;

/** Fonts **/

/* jost-regular */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Jost/Jost-Regular.ttf');
}

/* jost-medium */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/Jost/Jost-Medium.ttf');
}

/* jost-bold */
@font-face {
  font-family: 'Jost';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Jost/Jost-Bold.ttf');
}

/* Alegreya-regular */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 400;
  src: url('/static/fonts/Alegreya/Alegreya-Regular.ttf');
}

/* Alegreya-medium */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 500;
  src: url('/static/fonts/Alegreya/Alegreya-Medium.ttf');
}

/* Alegreya-bold */
@font-face {
  font-family: 'Alegreya';
  font-style: normal;
  font-weight: 700;
  src: url('/static/fonts/Alegreya/Alegreya-Bold.ttf');
}

html,
body {
  padding: 0;
  margin: 0;
}

body{
    @apply bg-pyellow;
  font-family:'Jost', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight:400;
}

* {
  box-sizing: border-box;
}

.bio-block h2 {
  @apply text-2xl;
  @apply sm:text-3xl;
}
.bio-block h3 {
    @apply py-4 text-2xl;
}
.bio-block p {
    @apply pb-2;
}

button{
  outline: none!important;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25% /* Player ratio: 100 / (1280 / 720) */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.marker{
  padding: 15px 20px;
  margin: 20px 0;
  display: inline-block;
}


.marker--not-complete{
  background-color: gray;
  color: darkgray
}

.marker--is-complete{
  background-color: springgreen;
  color: white
}

.pointille{
  text-decoration: underline dotted;
}

.swiper-button-next {
  background-image: url(/static/img/flechedroite.svg);
  background-repeat: no-repeat;
  width: 50px!important;
  background-position: center;
 
 
}

.swiper-button-prev {
  background-image: url(/static/img/flechegauche.svg);
  background-repeat: no-repeat;
  width: 50px!important;
  background-position: center;
}

@media screen {


  .popup-content {
    margin: auto;
    background: rgb(255, 255, 255);
    
    border: rgb(255, 255, 255) solid;
  }
  .popup-arrow {
    color: rgb(255, 255, 255);
  }
  
  
  .popup-overlay {
    background: rgba(0, 0, 0, 0.719);
    
  }
  .closeModal {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }
  [data-popup='tooltip'].popup-overlay {
    background: transparent;
  }
}

/* Libs */

@import "./pagecontent.css";
@import "./libs/navbar.css";
